*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    width: 1024px;
    height: 768px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}
.swiper-list{
    display: flex;
    position: absolute;
    width: 1024px;
    left: -1024px;
}
.swiper-btn{
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.swiper-btn-switch{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin: 0 10px;
}
.swiper-btn-switch.active{
    background-color: rgba(255, 0, 0, 0.822);
}
.swiper-arrow{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 100px;
    background-color: #ffffff98;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    color: #333333e1;
    cursor: pointer;
}
.container:hover .swiper-arrow{
    display: block;
}
.swiper-arrow-left{
    left:0;
}
.swiper-arrow-right{
    right:0;
}